<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Daftar Harga Mobil</title>

        {% include 'header.html' %}
    </head>
    <body>
        <div class="container">
            <table class="table table-striped" style="width:60%">
                <thead>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                </thead>
                <tbody>
                    {% for row in rows %}
                        <tr>
                            <td>{{row["id"]}}</td>
                            <td>{{row["name"]}}</td>
                            <td>{{row["price"]}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="/">Go back to home page</a>
        </div>
    </body>
    {% include 'footer.html' %}
</html>
