<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Daftar Harga Mobil</title>

        {% include 'header.html' %}
    </head>
    <body>
        <div class="container">
            <table class="table table-striped" style="width:80%">
                <thead>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    {% for row in rows %}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td>{{ row.0 }}</td>
                            <td>{{ row.1 }}</td>
                            <td>{{ row.2 }}</td>
                            <td>
                              <a href="{{ url_for('carlist_delete', idcar = row.0) }}">
                                  <button type="button" class="btn btn-danger">Delete</button>
                              </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
    {% include 'footer.html' %}
</html>
