<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Daftar Harga Mobil</title>

        {% include 'header.html' %}
    </head>
    <body>
        <div class="container">
          <h3>Carlist</h3>
            <table class="table table-striped">
                <thead>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    {% for row in rows %}
                        <tr>
                            <td>{{row["id"]}}</td>
                            <td>{{row["name"]}}</td>
                            <td>{{row["price"]}}</td>
                            <td>
                                <a href="{{ url_for('carlist_edit', idcar = row["id"]) }}">
                                    <button type="button" class="btn btn-primary">Edit</button>
                                </a>
                                <a href="{{ url_for('carlist_delete', idcar = row["id"]) }}">
                                    <button type="button" class="btn btn-danger">Delete</button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="/">Go back to home page</a>
        </div>
    </body>
    {% include 'footer.html' %}
</html>
