<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="content-type">
		<style type="text/css">
			ol{margin:0;padding:0}table td,table th{padding:0}.c0{border-right-style:solid;padding:5pt 5pt 5pt 5pt;border-bottom-color:#000000;border-top-width:1pt;border-right-width:1pt;border-left-color:#000000;vertical-align:top;border-right-color:#000000;border-left-width:1pt;border-top-style:solid;border-left-style:solid;border-bottom-width:1pt;width:156pt;border-top-color:#000000;border-bottom-style:solid}.c1{color:#000000;font-weight:400;text-decoration:none;vertical-align:baseline;font-size:11pt;font-family:"Arial";font-style:normal}.c2{padding-top:0pt;padding-bottom:0pt;line-height:1.15;orphans:2;widows:2;text-align:left;height:11pt}.c5{padding-top:0pt;padding-bottom:0pt;line-height:1.15;orphans:2;widows:2;text-align:left}.c7{border-spacing:0;border-collapse:collapse;margin-right:auto}.c3{padding-top:0pt;padding-bottom:0pt;line-height:1.0;text-align:left}.c4{background-color:#ffffff;max-width:468pt;padding:72pt 72pt 72pt 72pt}.c6{height:0pt}.title{padding-top:0pt;color:#000000;font-size:26pt;padding-bottom:3pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}.subtitle{padding-top:0pt;color:#666666;font-size:15pt;padding-bottom:16pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}li{color:#000000;font-size:11pt;font-family:"Arial"}p{margin:0;color:#000000;font-size:11pt;font-family:"Arial"}h1{padding-top:20pt;color:#000000;font-size:20pt;padding-bottom:6pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h2{padding-top:18pt;color:#000000;font-size:16pt;padding-bottom:6pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h3{padding-top:16pt;color:#434343;font-size:14pt;padding-bottom:4pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h4{padding-top:14pt;color:#666666;font-size:12pt;padding-bottom:4pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h5{padding-top:12pt;color:#666666;font-size:11pt;padding-bottom:4pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h6{padding-top:12pt;color:#666666;font-size:11pt;padding-bottom:4pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;font-style:italic;orphans:2;widows:2;text-align:left}
		</style>
	</head>

	<body class="c4"><p class="c5"><span class="c1">Daftar Mobil </span></p><p class="c2"><span class="c1"></span></p><p class="c2"><span class="c1"></span></p><a id="t.84a0481eec120b97904364d770abd6bd6cfd7ff0"></a><a id="t.0"></a>

	<table class="c7">
		<tbody>
			<tr class="c6">
				<td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c1">ID</span></p></td>
				<td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c1">Name</span></p></td>
				<td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c1">Price</span></p></td>
			</tr>
			{% for row in rows %}
			<tr class="c6">
				<td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c1">{{row.0}}</span></p></td>
				<td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c1">{{row.1}}</span></p></td>
				<td class="c0" colspan="1" rowspan="1"><p class="c3"><span class="c1">{{row.2}}</span></p></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<p class="c2"><span class="c1"></span></p>
	<p class="c2"><span class="c1"></span></p>
	<p class="c2"><span class="c1"></span></p>
	<p class="c2"><span class="c1"></span></p>

	</body>
</html>