<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Edit Car List/title></title>
        <!-- Header -->
        {% include 'header.html' %}
        <!-- End of header -->
    </head>
    <body>
        <div class="container">
            <form action="{{ url_for('save_edit_carlist') }}" method="post">
                <h3>Edit Car</h3>
                <div class="form-group">
                  <label for="select_id">Id</label>
                  <select class="form-control" name="idselect">
                      {% for row in rows %}
                      <option value="{{ row["id"] }}">{{row["id"]}}</option>
                      {% endfor %}
                  </select>
                </div>
                <br />

                {% for row in rows %}
                <div class="form-group">
                  <label for="inputid">Id</label>
                  <input type="text" name="idcar" class="form-control" value="{{ row["id"] }}"/>
                </div>
                <div class="form-group">
                  <label for="inputname">Name</label>
                  <input type="text" name="namecar" class="form-control" value="{{ row["name"] }}"/>
                </div>
                <div class="form-group">
                  <label for="inputprice">Price</label>
                  <input type="text" name="pricecar" class="form-control" value="{{ row["price"] }}" />
                </div>
                {% endfor %}

                <div class="form-group">
                  <input type="submit" class="btn btn-warning" value="Submit" >
                </div>
            </form>
        </div>
    </body>
    {% include 'footer.html' %}
</html>
