{% include 'header.html' %}
<body>
  <div class="container" style="margin-top:50px;">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        {% if session_user_name %}

          <p>Hello, <b>{{ session_user_name }}</b></p>
        {% endif %}
        <a href="{{ url_for('carlist')}}" class="btn btn-primary">
          <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home
        </a>&nbsp;
        <a href="{{ url_for('logout') }}" class="btn btn-danger">
          <span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Logout
        </a>
      </div>
    </div>
  </div>
</body>
{% include 'footer.html' %}
