<!-- Header -->
        {% include 'header.html' %}
<!--Header-->

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" ><a href="/">Home</a>
                    </li>
                    <li role="presentation" ><a href="{{url_for('showLogin')}}">Sign In</a>
                    </li>
                    <li role="presentation" class="active" ><a href="{{url_for('showSignUp')}}">Sign Up</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Python Flask App 123</h3>
        </div>

        <div class="jumbotron">

                <h1>Wish List App</h1>
                <p class="lead"></p>
                <p><a class="btn btn-lg btn-success" href="{{url_for('showSignUp')}}" role="button">Sign up today</a></p>

        </div>

        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Wish List</h4>
                <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

                <h4>Wish List</h4>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

                <h4>Wish List</h4>
                <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
            </div>

            <div class="col-lg-6">
                <h4>Wish List</h4>
                <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

                <h4>Wish List</h4>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

                <h4>Wish List</h4>
                <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
            </div>
        </div>

        <footer class="footer">
            <p>&copy; Software Development Coaching 2016</p>
        </footer>

    </div>
</body>

<!-- Footer -->
        {% include 'footer.html' %}
<!--Footer-->
