<!-- Header -->
  {% include 'header.html' %}
<!-- Header -->
    <body>
      <div class="container">
        <form action="{{ url_for('savecar') }}" method="POST">
            <h3>Insert Car</h3>
              <div class="form-group">
                <label for="Input_Id">Id</label>
                <input type="text" name="idcar" class="form-control" placeholder="Id" />
              </div>
              <div class="form-group">
                <label for="Input_Name">Name</label>
                <input type="text" name="namecar" class="form-control" placeholder="Name">
              </div>
              <div class="form-group">
                <label for="Input_Price">Price</label>
                <input type="text" name="pricecar" class="form-control" placeholder="Price">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </body>
  {% include 'footer.html' %}
