<!DOCTYPE html>
<html>
	
	<head>
		<meta charset="utf-8">
		<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    	<meta name="viewport" content="width=device-width" />
		<title>Welcome</title>
		<link rel="stylesheet" type="text/css" href="{{url_for ('static', filename ='bootstrap.min.css' )}}">
		<!--link css masih tidak berfungsi, dengan ditandai munculnya kode 400 di terminal saat mnjalankan file.py -->
	</head>
	<body>
		<div class="container">
			<div class="page">
				<h1>Wishlist</h1>
				<div class="navigation">
				{% if user=="admin" %}
					<a href="#">Dashboard</a>
					<a href="#">Setting</a>
					<a href="{{url_for ('logout')}}">Sign Out</a> {{username_session}}</a>
				{% elif user=="user biasa" %}
					<a href="#">Dashboard</a>
					<a href="#">Post</a>
					<a href="{{url_for ('logout')}}">Sign Out </a> {{username_session}}
				{% else %}
					<a href="#">Sign Up</a>
					<a href="{{url_for ('showLogin')}}">Sign In</a>
				{% endif %}
				</div>
				<div class="body">
					{% block body %}{% endblock%}
					<h1>Hello, {{username_session}}</h1>
				</div>
			</div>
		</div>
	</body>
</html>