<!-- Header -->
        {% include 'header.html' %}
<!--Header-->
<script src="../static/js/signUp.js"></script>
<body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="/">Home</a></li>
            <li role="presentation"><a href="showSignIn">Sign In</a></li>
            <li role="presentation" class="active"><a href="{{ url_for('showSignUp') }}">Sign Up</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Python Flask App</h3>
      </div>

      <div class="jumbotron">
        <h1>Wish List App</h1>
        <form action="{{ url_for('saveSignUp') }}" method="POST" class="form-signin">
          <label for="inputName" class="sr-only">Username</label>
          <input type="text" name="username" id="inputName" class="form-control" placeholder="User Name" required autofocus>

          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" name="password" class="form-control" placeholder="Password" required>

          <label for="inputFirstName" class="sr-only">First Name</label>
          <input type="name" name="first_name" class="form-control" placeholder="First Name" required autofocus>

          <label for="inputlastName" class="sr-only">Last Name</label>
          <input type="name" name="last_name" class="form-control" placeholder="Last Name" required autofocus>

          <label for="inputEmail" class="sr-only">Email address</label>
          <input type="email" name="email" class="form-control" placeholder="E-mail" required autofocus>
          <br/>
          <label for="selectGender" class="sr-only">Gender</label>
          <select class="form-control" name="gender">
              <option value="Male">Male</option>
              <option value="Female">Female</option>
          </select>
          <br/>
          <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
      </form>
      </div>



      <footer class="footer">
        <p>&copy; Software Development Coaching 2016</p>
      </footer>

    </div>
  </body>
<!-- Header -->
        {% include 'footer.html' %}
<!--Header-->
