<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Login Form</title>
  <link rel="stylesheet" href="static/css/signin.css">

</head>

<body>

	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Login</h1>
			</div>

			<div class="login-form">
        <form action="{{ url_for('login') }}" method="post">
          <div class="control-group">
            <input type="text" name="username" class="login-field" placeholder="username" id="login-name" required="required"/>
        		<label class="login-field-icon fui-user" for="login-name"></label>
        	</div>

      		<div class="control-group">
    				<input type="password" name="password" class="login-field" placeholder="password" id="login-pass" required="required"/>
    				<label class="login-field-icon fui-lock" for="login-pass"></label>
    			</div>
          <button type="submit" class="btn btn-primary btn-large btn-block">Login</button>
      </form>
				<a class="login-link" href="#">Lost your password?</a>
			</div>
		</div>
	</div>

</body>
</html>
