<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Update Cars Form</title>
        <!-- Header -->
        {% include 'header.html' %}
        <!-- End of header -->
    </head>
    <body>
        <div class="container">
            <form action="{{ url_for('saveupdatecar') }}" method="post">
                <h3>Update Car</h3>
                <div class="form-group">
                  <label for="selectid">Id</label>
                  <select class="form-control" name="idselect">
                      {% for row in rows %}
                      <option value="{{ row["id"] }}">{{row["id"]}}</option>
                      {% endfor %}
                  </select>
                </div>
              <hr/>
                <div class="form-group">
                  <label for="inputid">Id</label>
                  <input type="text" class="form-control" name="idcar" />
                </div>

                <div class="form-group">
                  <label for="inputname">Name</label>
                  <input type="text" class="form-control" name="namecar" />
                </div>

                <div class="form-group">
                  <label for="inputprice">Price</label>
                  <input type="text" class="form-control" name="pricecar" />
                </div>

                <input type="submit" class="btn btn-warning" value="Submit" />
            </form>
        </div>
    </body>
</html>
