<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Daftar Pengguna</title>

        {% include 'header.html' %}
    </head>
    <body>
        <div class="container">
            <h1 class="page-header text-center">User List</h1>
            <table class="table table-striped">
                <thead>
                    <th>Id</th>
                    <th>User Name</th>
                    <th>Password</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Gender</th>
                </thead>
                <tbody>
                    {% for row in rows %}
                        <tr>
                            <td>{{ row.0 }}</td>
                            <td>{{ row.1 }}</td>
                            <td>{{ row.2 }}</td>
                            <td>{{ row.3 }}</td>
                            <td>{{ row.4 }}</td>
                            <td>{{ row.5 }}</td>
                            <td>{{ row.6 }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="/" class="btn btn-primary" role="button">Back to home</a>
        </div>
    </body>
    {% include 'footer.html' %}
</html>
